spring:
  profiles:
    active: dev
  jpa:
    show-sql: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  flyway:
    locations: classpath:db/migration
    out-of-order: true
    baseline-on-migrate: true