<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px">

<p>Olá</p>

<p>Existem receitas ou despesas vencidas ou vencendo hoje. Veja:</p>

<p>
<table style="width: 100%; border-collapse: collapse; margin: 20px 0">
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Tags</th>
        <th>Vencimento</th>
        <th>Valor</th>
    </tr>
    </thead>

    <tbody>
    <tr style="border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc;"
        th:each="transaction: ${transactions}"
        th:styleappend="${transaction.type.name() == 'RECIPE'} ? 'color: blue;' : 'color: red;'">
        <td th:text="${transaction.type.description}"></td>
        <td th:text="${transaction.category.name}"></td>
        <td th:text="${transaction.description}"></td>
        <td>
            <span th:each="tag : ${transaction.tags}" th:text="${tag.name}"
                  style="display: inline-block; padding: 2px 6px; margin-right: 4px; border-radius: 6px; background: #eef2ff; color: #4338ca;"></span>
        </td>
        <td th:text="${#temporals.format(transaction.dueDay, 'dd/MM/yyyy')}" style="text-align: center"></td>
        <td th:text="${#numbers.formatDecimal(transaction.value, 0, 'POINT', 2, 'COMMA')}" style="text-align: right"></td>
    </tr>
    </tbody>
</table>
</p>

<p>Obrigado.</p>
<p>Equipe Lançamentos.</p>

</body>
</html>
